.account-page{
    margin-left: 250px;
    flex: 1;
    margin-top: 143px;
    padding-left: 40px ;
  }

.h1{
    font-size: 24px;
    margin-bottom: 20px; 
    margin-left: 0px;
    width: auto; 
    text-align: left;
  }