
.navbar {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  padding: 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.navbar .search-bar {
  width: 5px;
  height: 30px; 
  border: 0.5px solid black;
  border-radius: 4px;
  margin-right: 60px; 
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 18px;
}

.welcome-text {
  text-align: center;
  margin-right: 300px;
  margin-top: 50px;
  margin-left: 250px;
  font-size: 18px;
} 

.logout {
  background-color: transparent;
  color: black;
  border: none;
  height: 26px;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
  margin-top: 35px;
  margin-right: 40px;
  font-size: 18px;

}



.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px; 
  height: 19px; 
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  transition: .4s;
  border-radius: 19px; 
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px; 
  width: 15px;  
  left: 2px; 
  bottom: 2px; 
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(21px); 
}
